[submodule "external/cimgui"]
	path = external/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "external/ImGui.NET"]
	path = external/ImGui.NET
	url = https://github.com/goatcorp/ImGui.NET.git
[submodule "xivr/external/FFXIVClientStructs"]
	path = xivr/external/FFXIVClientStructs
	url = https://github.com/aers/FFXIVClientStructs.git
